src/main/resources/proxy/SDLService.wsdl

<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://deceval.com/sdl/services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://deceval.com/sdl/services/" name="SDLService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp1_2:Policy wssutil:Id="Wssp1.2-2007-Wss1.0-UsernameToken-Digest-X509-Basic256.xml">
<ns1:AsymmetricBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns1:InitiatorToken>
<wsp1_2:Policy>
<ns1:X509Token ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns1:WssX509V3Token10/>
</wsp1_2:Policy>
</ns1:X509Token>
</wsp1_2:Policy>
</ns1:InitiatorToken>
<ns1:RecipientToken>
<wsp1_2:Policy>
<ns1:X509Token ns1:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
<wsp1_2:Policy>
<ns1:WssX509V3Token10/>
</wsp1_2:Policy>
</ns1:X509Token>
</wsp1_2:Policy>
</ns1:RecipientToken>
<ns1:AlgorithmSuite>
<wsp1_2:Policy>
<ns1:Basic256/>
</wsp1_2:Policy>
</ns1:AlgorithmSuite>
<ns1:Layout>
<wsp1_2:Policy>
<ns1:Lax/>
</wsp1_2:Policy>
</ns1:Layout>
<ns1:IncludeTimestamp/>
<ns1:ProtectTokens/>
<ns1:OnlySignEntireHeadersAndBody/>
</wsp1_2:Policy>
</ns1:AsymmetricBinding>
<ns2:SignedSupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns2:UsernameToken ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
<wsp1_2:Policy>
<ns2:HashPassword/>
<ns2:WssUsernameToken10/>
</wsp1_2:Policy>
</ns2:UsernameToken>
</wsp1_2:Policy>
</ns2:SignedSupportingTokens>
<ns3:Wss10 xmlns:ns3="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
<wsp1_2:Policy>
<ns3:MustSupportRefKeyIdentifier/>
<ns3:MustSupportRefIssuerSerial/>
</wsp1_2:Policy>
</ns3:Wss10>
</wsp1_2:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://deceval.com/sdl/services/" schemaLocation="SDLService_1.xsd"/>
</xsd:schema>
</types>
<message name="CreacionGiradores">
<part name="CreacionGiradores" element="tns:CreacionGiradores"/>
</message>
<message name="CreacionGiradoresResponse">
<part name="RespuestaCrearGiradorServiceDTO" element="tns:RespuestaCrearGiradorServiceDTO"/>
</message>
<message name="CreacionGiradoresCodificados">
<part name="CreacionGiradoresCodificados" element="tns:CreacionGiradoresCodificados"/>
</message>
<message name="CreacionGiradoresCodificadosResponse">
<part name="RespuestaCrearGiradorDaneServiceDTO" element="tns:RespuestaCrearGiradorDaneServiceDTO"/>
</message>
<message name="creacionPagares">
<part name="creacionPagares" element="tns:creacionPagares"/>
</message>
<message name="creacionPagaresResponse">
<part name="RespuestaDocumentoPagareServiceDTO" element="tns:RespuestaDocumentoPagareServiceDTO"/>
</message>
<message name="CreacionPagaresCodificado">
<part name="CreacionPagaresCodificado" element="tns:CreacionPagaresCodificado"/>
</message>
<message name="CreacionPagaresCodificadoResponse">
<part name="RespuestaDocumentoPagareDaneServiceDTO" element="tns:RespuestaDocumentoPagareDaneServiceDTO"/>
</message>
<message name="creacionPagaresFisicosCodificado">
<part name="creacionPagaresFisicosCodificado" element="tns:creacionPagaresFisicosCodificado"/>
</message>
<message name="creacionPagaresFisicosCodificadoResponse">
<part name="RespuestaDocumentoPagareDaneServiceDTO" element="tns:RespuestaDocumentoPagareDaneServiceDTO"/>
</message>
<message name="notificacionPagaresFirmados">
<part name="notificacionPagaresFirmados" element="tns:notificacionPagaresFirmados"/>
</message>
<message name="notificacionPagaresFirmadosResponse">
<part name="RespuestaPagaresFirmadosDTO" element="tns:RespuestaPagaresFirmadosDTO"/>
</message>
<message name="notificacionDesembolsoAnotacionEnCuenta">
<part name="notificacionDesembolsoAnotacionEnCuenta" element="tns:notificacionDesembolsoAnotacionEnCuenta"/>
</message>
<message name="notificacionDesembolsoAnotacionEnCuentaResponse">
<part name="RespuestaDesembolsoAnotarCuentaDTO" element="tns:RespuestaDesembolsoAnotarCuentaDTO"/>
</message>
<message name="registrarAmortizacion">
<part name="registrarAmortizacion" element="tns:registrarAmortizacion"/>
</message>
<message name="registrarAmortizacionResponse">
<part name="RespuestaAmortizacionSaldosServiceDTO" element="tns:RespuestaAmortizacionSaldosServiceDTO"/>
</message>
<message name="cancelacionPagares">
<part name="cancelacionPagares" element="tns:cancelacionPagares"/>
</message>
<message name="cancelacionPagaresResponse">
<part name="RespuestaCancelacionPagaresServiceDTO" element="tns:RespuestaCancelacionPagaresServiceDTO"/>
</message>
<message name="firmarPagares">
<part name="firmarPagares" element="tns:firmarPagares"/>
</message>
<message name="firmarPagaresResponse">
<part name="RespuestaFirmarPagaresDTO" element="tns:RespuestaFirmarPagaresDTO"/>
</message>
<message name="firmarPagaresAsincrono">
<part name="firmarPagaresAsincrono" element="tns:firmarPagaresAsincrono"/>
</message>
<message name="firmarPagaresAsincronoResponse">
<part name="RespuestaFirmarPagaresAsincronoDTO" element="tns:RespuestaFirmarPagaresAsincronoDTO"/>
</message>
<message name="consultarPagares">
<part name="consultarPagares" element="tns:consultarPagares"/>
</message>
<message name="consultarPagaresResponse">
<part name="RespuestaConsultarPagaresDTO" element="tns:RespuestaConsultarPagaresDTO"/>
</message>
<message name="consultarPagaresNopdf">
<part name="consultarPagaresNopdf" element="tns:consultarPagaresNopdf"/>
</message>
<message name="consultarPagaresNopdfResponse">
<part name="RespuestaConsultarPagaresNopdfDTO" element="tns:RespuestaConsultarPagaresNopdfDTO"/>
</message>
<message name="crearCertificadoFirma">
<part name="crearCertificadoFirma" element="tns:crearCertificadoFirma"/>
</message>
<message name="crearCertificadoFirmaResponse">
<part name="RespuestaCrearCertificadoFirmaDTO" element="tns:RespuestaCrearCertificadoFirmaDTO"/>
</message>
<message name="firmarPagareConCertificado">
<part name="firmarPagareConCertificado" element="tns:firmarPagareConCertificado"/>
</message>
<message name="firmarPagareConCertificadoResponse">
<part name="RespuestaFirmarPagaresDTO" element="tns:RespuestaFirmarPagaresDTO"/>
</message>
<message name="firmarPagareCaracteres">
<part name="firmarPagareCaracteres" element="tns:firmarPagareCaracteres"/>
</message>
<message name="firmarPagareCaracteresResponse">
<part name="RespuestaFirmarPagaresCodigoErrorDTO" element="tns:RespuestaFirmarPagaresCodigoErrorDTO"/>
</message>
<message name="generacionMasivaCertificados">
<part name="generacionMasivaCertificados" element="tns:generacionMasivaCertificados"/>
</message>
<message name="generacionMasivaCertificadosResponse">
<part name="RespuestaGeneracionMasivaCertificadosDTO" element="tns:RespuestaGeneracionMasivaCertificadosDTO"/>
</message>
<message name="solicitudRadicacionFichaTecnicaNatural">
<part name="solicitudRadicacionFichaTecnicaNatural" element="tns:solicitudRadicacionFichaTecnicaNatural"/>
</message>
<message name="solicitudRadicacionFichaTecnicaNaturalResponse">
<part name="RespuestaRadicacionErrorDTO" element="tns:RespuestaRadicacionErrorDTO"/>
</message>
<message name="anulacionPagares">
<part name="anulacionPagares" element="tns:anulacionPagares"/>
</message>
<message name="anulacionPagaresResponse">
<part name="RespuestaAnulacionPagaresDTO" element="tns:RespuestaAnulacionPagaresDTO"/>
</message>
<message name="consultaPagareXML">
<part name="consultaPagareXML" element="tns:consultaPagareXML"/>
</message>
<message name="consultaPagareXMLResponse">
<part name="RespuestaConsultaPagareXMLServiceDTO" element="tns:RespuestaConsultaPagareXMLServiceDTO"/>
</message>
<message name="registrarCustodiaPagare">
<part name="registrarCustodiaPagare" element="tns:registrarCustodiaPagare"/>
</message>
<message name="registrarCustodiaPagareResponse">
<part name="RespuestaFirmarPagaresXmlDTO" element="tns:RespuestaFirmarPagaresXmlDTO"/>
</message>
<message name="cambiarEstadoProvisionalADefinitivo">
<part name="cambiarEstadoProvisionalADefinitivo" element="tns:cambiarEstadoProvisionalADefinitivo"/>
</message>
<message name="cambiarEstadoProvisionalADefinitivoResponse">
<part name="RespuestaCambiarEstadoProvisionalADefinitivoDTO" element="tns:RespuestaCambiarEstadoProvisionalADefinitivoDTO"/>
</message>
<portType name="SDLService">
<operation name="CreacionGiradores">
<input wsam:Action="CreacionGiradores" message="tns:CreacionGiradores"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/CreacionGiradoresResponse" message="tns:CreacionGiradoresResponse"/>
</operation>
<operation name="CreacionGiradoresCodificados">
<input wsam:Action="CreacionGiradoresCodificados" message="tns:CreacionGiradoresCodificados"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/CreacionGiradoresCodificadosResponse" message="tns:CreacionGiradoresCodificadosResponse"/>
</operation>
<operation name="creacionPagares">
<input wsam:Action="CreacionPagares" message="tns:creacionPagares"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/creacionPagaresResponse" message="tns:creacionPagaresResponse"/>
</operation>
<operation name="CreacionPagaresCodificado">
<input wsam:Action="CreacionPagaresCodificado" message="tns:CreacionPagaresCodificado"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/CreacionPagaresCodificadoResponse" message="tns:CreacionPagaresCodificadoResponse"/>
</operation>
<operation name="creacionPagaresFisicosCodificado">
<input wsam:Action="CreacionPagaresFisicosCodificado" message="tns:creacionPagaresFisicosCodificado"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/creacionPagaresFisicosCodificadoResponse" message="tns:creacionPagaresFisicosCodificadoResponse"/>
</operation>
<operation name="notificacionPagaresFirmados">
<input wsam:Action="NotificacionPagaresFirmados" message="tns:notificacionPagaresFirmados"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/notificacionPagaresFirmadosResponse" message="tns:notificacionPagaresFirmadosResponse"/>
</operation>
<operation name="notificacionDesembolsoAnotacionEnCuenta">
<input wsam:Action="NotificacionDesembolsoAnotacionEnCuenta" message="tns:notificacionDesembolsoAnotacionEnCuenta"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/notificacionDesembolsoAnotacionEnCuentaResponse" message="tns:notificacionDesembolsoAnotacionEnCuentaResponse"/>
</operation>
<operation name="registrarAmortizacion">
<input wsam:Action="RegistrarAmortizacion" message="tns:registrarAmortizacion"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/registrarAmortizacionResponse" message="tns:registrarAmortizacionResponse"/>
</operation>
<operation name="cancelacionPagares">
<input wsam:Action="CancelacionPagares" message="tns:cancelacionPagares"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/cancelacionPagaresResponse" message="tns:cancelacionPagaresResponse"/>
</operation>
<operation name="firmarPagares">
<input wsam:Action="FirmarPagares" message="tns:firmarPagares"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/firmarPagaresResponse" message="tns:firmarPagaresResponse"/>
</operation>
<operation name="firmarPagaresAsincrono">
<input wsam:Action="FirmarPagaresAsincrono" message="tns:firmarPagaresAsincrono"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/firmarPagaresAsincronoResponse" message="tns:firmarPagaresAsincronoResponse"/>
</operation>
<operation name="consultarPagares">
<input wsam:Action="ConsultarPagares" message="tns:consultarPagares"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/consultarPagaresResponse" message="tns:consultarPagaresResponse"/>
</operation>
<operation name="consultarPagaresNopdf">
<input wsam:Action="ConsultarPagaresNopdf" message="tns:consultarPagaresNopdf"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/consultarPagaresNopdfResponse" message="tns:consultarPagaresNopdfResponse"/>
</operation>
<operation name="crearCertificadoFirma">
<input wsam:Action="CrearCertificadoFirma" message="tns:crearCertificadoFirma"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/crearCertificadoFirmaResponse" message="tns:crearCertificadoFirmaResponse"/>
</operation>
<operation name="firmarPagareConCertificado">
<input wsam:Action="FirmarPagareConCertificado" message="tns:firmarPagareConCertificado"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/firmarPagareConCertificadoResponse" message="tns:firmarPagareConCertificadoResponse"/>
</operation>
<operation name="firmarPagareCaracteres">
<input wsam:Action="FirmarPagareCaracteres" message="tns:firmarPagareCaracteres"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/firmarPagareCaracteresResponse" message="tns:firmarPagareCaracteresResponse"/>
</operation>
<operation name="generacionMasivaCertificados">
<input wsam:Action="GeneracionMasivaCertificados" message="tns:generacionMasivaCertificados"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/generacionMasivaCertificadosResponse" message="tns:generacionMasivaCertificadosResponse"/>
</operation>
<operation name="solicitudRadicacionFichaTecnicaNatural">
<input wsam:Action="SolicitudRadicacionFichaTecnicaNatural" message="tns:solicitudRadicacionFichaTecnicaNatural"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/solicitudRadicacionFichaTecnicaNaturalResponse" message="tns:solicitudRadicacionFichaTecnicaNaturalResponse"/>
</operation>
<operation name="anulacionPagares">
<input wsam:Action="AnulacionPagares" message="tns:anulacionPagares"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/anulacionPagaresResponse" message="tns:anulacionPagaresResponse"/>
</operation>
<operation name="consultaPagareXML">
<input wsam:Action="ConsultaPagareXML" message="tns:consultaPagareXML"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/consultaPagareXMLResponse" message="tns:consultaPagareXMLResponse"/>
</operation>
<operation name="registrarCustodiaPagare">
<input wsam:Action="registrarCustodiaPagare" message="tns:registrarCustodiaPagare"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/registrarCustodiaPagareResponse" message="tns:registrarCustodiaPagareResponse"/>
</operation>
<operation name="cambiarEstadoProvisionalADefinitivo">
<input wsam:Action="cambiarEstadoProvisionalADefinitivo" message="tns:cambiarEstadoProvisionalADefinitivo"/>
<output wsam:Action="http://deceval.com/sdl/services/SDLService/cambiarEstadoProvisionalADefinitivoResponse" message="tns:cambiarEstadoProvisionalADefinitivoResponse"/>
</operation>
</portType>
<binding name="SDLServicePortBinding" type="tns:SDLService">
<wsp:PolicyReference URI="#Wssp1.2-2007-Wss1.0-UsernameToken-Digest-X509-Basic256.xml"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreacionGiradores">
<soap:operation soapAction="CreacionGiradores"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreacionGiradoresCodificados">
<soap:operation soapAction="CreacionGiradoresCodificados"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creacionPagares">
<soap:operation soapAction="CreacionPagares"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreacionPagaresCodificado">
<soap:operation soapAction="CreacionPagaresCodificado"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creacionPagaresFisicosCodificado">
<soap:operation soapAction="CreacionPagaresFisicosCodificado"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notificacionPagaresFirmados">
<soap:operation soapAction="NotificacionPagaresFirmados"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="notificacionDesembolsoAnotacionEnCuenta">
<soap:operation soapAction="NotificacionDesembolsoAnotacionEnCuenta"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarAmortizacion">
<soap:operation soapAction="RegistrarAmortizacion"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelacionPagares">
<soap:operation soapAction="CancelacionPagares"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmarPagares">
<soap:operation soapAction="FirmarPagares"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmarPagaresAsincrono">
<soap:operation soapAction="FirmarPagaresAsincrono"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPagares">
<soap:operation soapAction="ConsultarPagares"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPagaresNopdf">
<soap:operation soapAction="ConsultarPagaresNopdf"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCertificadoFirma">
<soap:operation soapAction="CrearCertificadoFirma"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmarPagareConCertificado">
<soap:operation soapAction="FirmarPagareConCertificado"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="firmarPagareCaracteres">
<soap:operation soapAction="FirmarPagareCaracteres"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generacionMasivaCertificados">
<soap:operation soapAction="GeneracionMasivaCertificados"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitudRadicacionFichaTecnicaNatural">
<soap:operation soapAction="SolicitudRadicacionFichaTecnicaNatural"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anulacionPagares">
<soap:operation soapAction="AnulacionPagares"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaPagareXML">
<soap:operation soapAction="ConsultaPagareXML"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCustodiaPagare">
<soap:operation soapAction="registrarCustodiaPagare"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarEstadoProvisionalADefinitivo">
<soap:operation soapAction="cambiarEstadoProvisionalADefinitivo"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SDLService">
<port name="SDLServicePort" binding="tns:SDLServicePortBinding">
<soap:address location="https://pruebas.deceval.com.co:446/weblogic/sdl12/services/SDLService"/>
</port>
</service>
</definitions>