src/main/resources/proxy/WsGenerarTokenService_1.xsd

<xsd:schema xmlns:ns1="http://deceval.com/mrc/solicitud/model/" xmlns:ns0="http://com/deceval/mrc/solicitud" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/deceval/mrc/solicitud" elementFormDefault="qualified">
<xsd:import schemaLocation="WsGenerarTokenService_2.xsd" namespace="http://deceval.com/mrc/solicitud/model/"/>
<xsd:complexType name="generarToken">
<xsd:sequence>
<xsd:element name="informacionPagareTO" type="ns1:InformacionPagareTO" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="generarTokenResponse">
<xsd:sequence>
<xsd:element name="return" type="ns1:InformacionFirmaPagareTO" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="generarToken" type="ns0:generarToken"/>
<xsd:element name="generarTokenResponse" type="ns0:generarTokenResponse"/>
</xsd:schema>